@mixin button($size, $button-color, $text-color){
    
    border:1px solid darken($button-color,20%);
    border-radius:3px;
    
    background-color:$button-color;
    
    font-size:$size;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color:$text-color;

    outline:none;
    
    &:hover{
        border:1px solid darken($button-color,10%);
        background-color:darken($button-color,20%);
        outline:none;
    }
}