html(lang="en")
    head
        title RadMVC TodoList Example
    body
        div(controller="TodoController")
        script(src="https://cdn.polyfill.io/v2/polyfill.min.js",type="application/javascript")
        script(src="/vendor.js",type="application/javascript")
        script(src="/bundle.js",type="application/javascript")