doctype html
html(lang='en')
  head
    block title
      title Express-React-Bootstrap-Starter
    script(async,defer,src='https://cdn.polyfill.io/v2/polyfill.min.js')  
  body
    div(controller="UserController")
    script(src="/bundle.js")
